// color variables

$white            : #fff;
$black            : #000;
$blackf17         : #000f17;
$gray20           : #333;
$gray             : #3f3f40;
$dark-orange      : #e72d2e;
$orange           : #fc5110;
$white-smoke      : #f5f5f5;
$gainsboro        : #ddd;
$light-gray       : #ccc;
$nobel            : #999;
$curious-blue     : #428bca;
$gray-white       : #e6e6e6;
$gray-55          : #8c8c8c;
$gray83           : #d4d4d4;
$gray68           : #adadad;
$curious-blue7    : #337ab7;
$Lochmara         : #2e6da4;
$forest-green5    : #5cb85c;
$forest-green     : #4cae4c;
$corn-blue        : #31b0d5;
$steel-blue       : #1b6d85;
$Pelorous         : #269abc;
$dark-gray        : #656565;
$light-gray       : #f7f7f7;
$ton-blue         : #357ebd;



// other
